<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StocksKit OSX.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>StocksKit iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DE83F9DC1C57DAB600C3A083</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE83F9E51C57DAB700C3A083</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE83F9F81C57DCA700C3A083</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE9A9E961C4FBC0D00D4AC3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE9A9EA01C4FBC0D00D4AC3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
